<!-- Welcome -->
<data-ng-include src="'components/dashboard/_welcome.html'"></data-ng-include>

<!-- Assets -->
<!--<data-ng-include src="'components/dashboard/_assets.html'"></data-ng-include>-->
<section id="assets" class="sections sections-narrow" data-ng-controller="AssetController">
  <div class="container">
    <a class="btn btn-primary pull-right" href="#" data-ui-sref="assets">See All Assets <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    <h2 class="sub-header">Assets</h2>
    <div class="row thumbnail-wrapper">
      <div class="col-md-3" data-ng-repeat="asset in assets | limitTo : 8">
        <div class="thumbnail">
          <a data-ui-sref="assetDetails({id: asset.id})"></a>
          <div class="caption">
            <h3 class="caption-heading"><a data-ui-sref="assetDetails({id: asset.id})" data-ng-bind="asset.name"  ></a></h3>
          </div>
          <div class="caption">
            <h3 class="caption-heading" data-ng-bind="asset.creationDate"  ></h3>
          </div>
          <div class="action-bar">
            <ul>              
              <li>
                <a data-ui-sref="assetDetails({id: asset.id})" data-ng-bind="asset.description"><img data-ng-src="images/assets/owner{{asset.id}}.jpg"  class="img-circle img-circle-small" alt="Generic placeholder image" height="30" width="30"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Owners -->
<data-ng-include src="'components/dashboard/_owners.html'"></data-ng-include>

<!-- Pets -->
<data-ng-include src="'components/dashboard/_pets.html'"></data-ng-include>

<!-- Vets -->
<data-ng-include src="'components/dashboard/_vets.html'"></data-ng-include>